In [1]:
import requests
from bs4 import BeautifulSoup
import string


def gethtml(url):
    r = requests.get(url).text
    return r

In [2]:
getdata = gethtml('https://www.imdb.com/list/ls071285764/?sort=moviemeter,asc&st_dt=&mode=detail&page=1')
soup = BeautifulSoup(getdata, "html.parser")

In [3]:
x=soup.findAll("div", {"class": "lister-item mode-detail"})

In [4]:
import re
movie=[]
pattern =re.compile(r'/title/.+')
for link in x:
  a =link.findAll('a')
  for l in a:
    if pattern.search(l['href']):
      if l.string != None:
          movie.append([l.string])

In [5]:
len(movie)

37

In [6]:
movie[:10]

[['A Quiet Place Part II'],
 ['Tenet'],
 ['Wonder Woman 1984'],
 ['Birds of Prey'],
 ['The Hunt'],
 ['Underwater'],
 ['Mulan'],
 ['The New Mutants'],
 ['Soul'],
 ['The Witches']]

In [7]:
sx=soup.findAll("span", {"class": "genre"})
gen =[]
for span in sx:
  gen.append([span.text.strip()])

In [8]:
len(gen)

37

In [9]:
gen[:10]

[['Drama, Horror, Sci-Fi'],
 ['Action, Sci-Fi, Thriller'],
 ['Action, Adventure, Fantasy'],
 ['Action, Adventure, Comedy'],
 ['Action, Horror, Thriller'],
 ['Action, Horror, Sci-Fi'],
 ['Action, Adventure, Drama'],
 ['Action, Horror, Mystery'],
 ['Animation, Adventure, Comedy'],
 ['Adventure, Comedy, Family']]

In [10]:
over=soup.findAll("p", {"class": ""})

In [11]:
overview=[]
import re 
pattern =re.compile(r'Watched. Ra.+')
for para in over:
  if not pattern.search(para.text):
    overview.append([para.text.strip()])

In [12]:
overview[:10]

[['Following the events at home, the Abbott family now face the terrors of the outside world. Forced to venture into the unknown, they realize the creatures that hunt by sound are not the only threats lurking beyond the sand path.'],
 ['Armed with only one word, Tenet, and fighting for the survival of the entire world, a Protagonist journeys through a twilight world of international espionage on a mission that will unfold in something beyond real time.'],
 ['Diana must contend with a work colleague and businessman, whose desire for extreme wealth sends the world down a path of destruction, after an ancient artifact that grants wishes goes missing.'],
 ['After splitting with the Joker, Harley Quinn joins superheroes Black Canary, Huntress and Renee Montoya to save a young girl from an evil crime lord.'],
 ["Twelve strangers wake up in a clearing. They don't know where they are, or how they got there. They don't know they've been chosen - for a very specific purpose - The Hunt."],
 ['A crew of oceanic researchers working for a deep sea drilling company try to get to safety after a mysterious earthquake devastates their deepwater research and drilling facility located at the bottom of the Mariana Trench.'],
 ['A young Chinese maiden disguises herself as a male warrior in order to save her father.'],
 ['Five young mutants, just discovering their abilities while held in a secret facility against their will, fight to escape their past sins and save themselves.'],
 ['After landing the gig of a lifetime, a New York jazz pianist suddenly finds himself trapped in a strange land between Earth and the afterlife.'],
 ['A young boy and his grandmother have a run-in with a coven of witches and their leader.']]

In [13]:
len(overview)

37

In [14]:
x=soup.findAll("div", {"class": "lister-item mode-detail"})

crew =[]
for div in x:
  p =div.findAll('p',{'class':'text-muted text-small'})
  temp =[]
  link =p[1].findAll('a')
  for final in link:
    #print(final)
    temp.append(final.text)
  #print(temp)
  crew.append(temp)

In [15]:
crew[:10]

[['John Krasinski',
  'Emily Blunt',
  'Millicent Simmonds',
  'Cillian Murphy',
  'John Krasinski'],
 ['Christopher Nolan',
  'John David Washington',
  'Robert Pattinson',
  'Elizabeth Debicki',
  'Juhan Ulfsak'],
 ['Patty Jenkins', 'Gal Gadot', 'Chris Pine', 'Kristen Wiig', 'Pedro Pascal'],
 ['Cathy Yan',
  'Margot Robbie',
  'Rosie Perez',
  'Mary Elizabeth Winstead',
  'Jurnee Smollett'],
 ['Craig Zobel',
  'Betty Gilpin',
  'Hilary Swank',
  'Ike Barinholtz',
  'Wayne Duvall'],
 ['William Eubank',
  'Kristen Stewart',
  'Vincent Cassel',
  'Mamoudou Athie',
  'T.J. Miller'],
 ['Niki Caro', 'Liu Yifei', 'Donnie Yen', 'Gong Li', 'Jet Li'],
 ['Josh Boone',
  'Maisie Williams',
  'Anya Taylor-Joy',
  'Charlie Heaton',
  'Alice Braga'],
 ['Pete Docter',
  'Kemp Powers',
  'Jamie Foxx',
  'Tina Fey',
  'Graham Norton',
  'Rachel House'],
 ['Robert Zemeckis',
  'Anne Hathaway',
  'Octavia Spencer',
  'Stanley Tucci',
  'Chris Rock']]

In [16]:
len(crew)

37

In [17]:
movie_x=[]
for m in movie:
  movie_x.append(m[0])

gen_x=[]
for g in gen:
  gen_x.append(g[0])

over_x =[]
for over in overview:
  over_x.append(over[0])

dir_x=[]
cast_x=[]
for c in crew:
  dir_x.append(c[0])
  cast_x.append(" ".join(c[1:]))

In [18]:
struct ={'title':movie_x,'genre':gen_x,'overview':over_x,'cast':cast_x,'director':dir_x,'lang':['en']*37,'comp':['unknown']*37}

In [20]:
import pandas as pd
df =pd.DataFrame(data=struct)

In [21]:
df.head()

                   title                       genre  ... lang     comp
0  A Quiet Place Part II       Drama, Horror, Sci-Fi  ...   en  unknown
1                  Tenet    Action, Sci-Fi, Thriller  ...   en  unknown
2      Wonder Woman 1984  Action, Adventure, Fantasy  ...   en  unknown
3          Birds of Prey   Action, Adventure, Comedy  ...   en  unknown
4               The Hunt    Action, Horror, Thriller  ...   en  unknown

[5 rows x 7 columns]

In [23]:
df.to_csv('2020m1.csv')

In [24]:
genre_list =[]
for x in df.genre:
    l =x.split(',')
    s=""
    for i in l:
        i = i.strip()
        if i =='Sci-Fi':
            i='Science Fiction'
        s=s+i+" "
    genre_list.append(s)

In [25]:
genre_list[:5]

['Drama Horror Science Fiction ',
 'Action Science Fiction Thriller ',
 'Action Adventure Fantasy ',
 'Action Adventure Comedy ',
 'Action Horror Thriller ']

In [26]:
df['genre_list']=pd.DataFrame(genre_list,columns=['genre_list'])

In [27]:
df['crew_list']=df['director']
df['cast_list'] = df['cast']
df['original_language'] = df['lang']
df['comp_list'] = df['comp']

In [28]:
df.drop(['genre','cast','director','lang','comp'],axis=1,inplace=True)

In [29]:
df.columns

Index(['title', 'overview', 'genre_list', 'crew_list', 'cast_list',
       'original_language', 'comp_list'],
      dtype='object')

In [30]:
df['comb'] =df['genre_list']+df['cast_list']+df['crew_list']+df['original_language']

In [31]:
df.columns

Index(['title', 'overview', 'genre_list', 'crew_list', 'cast_list',
       'original_language', 'comp_list', 'comb'],
      dtype='object')

In [32]:
maindf= pd.read_csv('till_2019.csv')

In [33]:
finaldf =maindf.append(df)

In [34]:
finaldf.head()

         id  ...                                               comb
0   19995.0  ...  Action Adventure Fantasy Science Fiction Sam W...
1     285.0  ...  Adventure Fantasy Action Johnny Depp Orlando B...
2  206647.0  ...  Action Adventure Crime Daniel Craig Christoph ...
3   49026.0  ...  Action Crime Drama Thriller Christian Bale Mic...
4   49529.0  ...  Action Adventure Science Fiction Taylor Kitsch...

[5 rows x 9 columns]

In [43]:
finaldf.to_csv('Dataset/till_2020.csv')