In [1]:
import pandas as pd

## Reading movies and credits dataset from TMDB

In [2]:
credits =pd.read_csv('Dataset/tmdb_5000_credits.csv')
movies =pd.read_csv('Dataset/tmdb_5000_movies.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

### Selecting the important columns that can be the important factors for recommendation

In [5]:
df =movies[['genres','id','original_language','title','production_companies','overview']].copy()

In [6]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### we observe that production_companies,cast,crew and genre  are in JSON format
#### checking the JSON string

In [7]:
jstr=str(df['genres'][0])
print(jstr)

[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

### Now let's see the range of time for all the movies in our dataset.
#### Looks like only till year 2017. we need to add latest movies afterwards.

In [8]:
mx,mn =-9999,9999
for i in movies.release_date:
  if str(i)!='nan':
    val=int(str(i).split('-')[0])
  if mx <val:
    mx=val
  if mn>val:
    mn=val
mx,mn

(2017, 1916)

In [9]:
import json 
final_json =json.loads(jstr)
final_json

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

## Let extract some features and analyse each for our system.

In [10]:
genre_list=[]                 # list to store genres for each movie
for st in df['genres']:
  fst=json.loads(str(st))    # string to JSON format 
  x=""
  for i in fst:
    x=x+i['name']+" "
  if x!="":
    genre_list.append([x])
  else:
    genre_list.append(['nan'])         # nan for empty value

### Extract the genre's from all the movies 
#### They play a important role finding similarity b/w movies

In [11]:
genre_list[:20]

[['Action Adventure Fantasy Science Fiction '],
 ['Adventure Fantasy Action '],
 ['Action Adventure Crime '],
 ['Action Crime Drama Thriller '],
 ['Action Adventure Science Fiction '],
 ['Fantasy Action Adventure '],
 ['Animation Family '],
 ['Action Adventure Science Fiction '],
 ['Adventure Fantasy Family '],
 ['Action Adventure Fantasy '],
 ['Adventure Fantasy Action Science Fiction '],
 ['Adventure Action Thriller Crime '],
 ['Adventure Fantasy Action '],
 ['Action Adventure Western '],
 ['Action Adventure Fantasy Science Fiction '],
 ['Adventure Family Fantasy '],
 ['Science Fiction Action Adventure '],
 ['Adventure Action Fantasy '],
 ['Action Comedy Science Fiction '],
 ['Action Adventure Fantasy ']]

In [12]:
df['genre_list'] =pd.DataFrame(genre_list,columns=['genre_list'])

In [13]:
df.head()

,genres,id,original_language,title,production_companies,overview,genre_list
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,en,Spectre,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",A cryptic message from Bondâ€™s past sends him o...,Action Adventure Crime
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,en,The Dark Knight Rises,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",Following the death of District Attorney Harve...,Action Crime Drama Thriller
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,en,John Carter,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","John Carter is a war-weary, former military ca...",Action Adventure Science Fiction

In [14]:
len(genre_list)

4803

### Now for cast. 
#### Cast is selected because of following reason.
1) generally same cast is for upcoming movies.
2) movies filtered by main cast.

In [15]:
cast_list=[]                    #  list for storing cast
for st in credits['cast']:
  fst=json.loads(str(st))      # string to JSON
  x=""
  for i in fst[0:3]:
    i['name']=" ".join(i['name'].split(' '))    
    x=x+i['name']+" "
  if x!="":
    cast_list.append([x])
  else:
    cast_list.append(['nan'])

In [16]:
cast_list[:20]

[['Sam Worthington Zoe Saldana Sigourney Weaver '],
 ['Johnny Depp Orlando Bloom Keira Knightley '],
 ['Daniel Craig Christoph Waltz LÃ©a Seydoux '],
 ['Christian Bale Michael Caine Gary Oldman '],
 ['Taylor Kitsch Lynn Collins Samantha Morton '],
 ['Tobey Maguire Kirsten Dunst James Franco '],
 ['Zachary Levi Mandy Moore Donna Murphy '],
 ['Robert Downey Jr. Chris Hemsworth Mark Ruffalo '],
 ['Daniel Radcliffe Rupert Grint Emma Watson '],
 ['Ben Affleck Henry Cavill Gal Gadot '],
 ['Brandon Routh Kevin Spacey Kate Bosworth '],
 ['Daniel Craig Olga Kurylenko Mathieu Amalric '],
 ['Johnny Depp Orlando Bloom Keira Knightley '],
 ['Johnny Depp Armie Hammer William Fichtner '],
 ['Henry Cavill Amy Adams Michael Shannon '],
 ['Ben Barnes William Moseley Anna Popplewell '],
 ['Robert Downey Jr. Chris Evans Mark Ruffalo '],
 ['Johnny Depp PenÃ©lope Cruz Ian McShane '],
 ['Will Smith Tommy Lee Jones Josh Brolin '],
 ['Martin Freeman Ian McKellen Richard Armitage ']]

In [17]:
df['cast_list'] =pd.DataFrame(cast_list,columns=['cast_list'])

In [18]:
df.head()

,genres,id,original_language,title,production_companies,overview,genre_list,cast_list
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction,Sam Worthington Zoe Saldana Sigourney Weaver
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action,Johnny Depp Orlando Bloom Keira Knightley
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,en,Spectre,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",A cryptic message from Bondâ€™s past sends him o...,Action Adventure Crime,Daniel Craig Christoph Waltz LÃ©a Seydoux
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,en,The Dark Knight Rises,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",Following the death of District Attorney Harve...,Action Crime Drama Thriller,Christian Bale Michael Caine Gary Oldman
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,en,John Carter,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","John Carter is a war-weary, former military ca...",Action Adventure Science Fiction,Taylor Kitsch Lynn Collins Samantha Morton

### Now for crew. 
#### Crew is selected because of following reason.
1) generally same crew (director) are for movies with similar genre.
2) movies filtered by main crew. (preferred)

In [19]:
crew_list=[]                          #list to store crew
for st in credits['crew']:
  fst=json.loads(str(st))
  flag=0
  for i in fst:
    if i['job']=='Director':
      crew_list.append([i['name']])     #getting director name
      flag=1
      break
  if flag==0:
    crew_list.append(['nan'])

In [20]:
crew_list[:20]                       # famous directors

[['James Cameron'],
 ['Gore Verbinski'],
 ['Sam Mendes'],
 ['Christopher Nolan'],
 ['Andrew Stanton'],
 ['Sam Raimi'],
 ['Byron Howard'],
 ['Joss Whedon'],
 ['David Yates'],
 ['Zack Snyder'],
 ['Bryan Singer'],
 ['Marc Forster'],
 ['Gore Verbinski'],
 ['Gore Verbinski'],
 ['Zack Snyder'],
 ['Andrew Adamson'],
 ['Joss Whedon'],
 ['Rob Marshall'],
 ['Barry Sonnenfeld'],
 ['Peter Jackson']]

In [21]:
df['crew_list'] =pd.DataFrame(crew_list,columns=['crew_list'])

In [22]:
df.head()

,genres,id,original_language,title,production_companies,overview,genre_list,cast_list,crew_list
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction,Sam Worthington Zoe Saldana Sigourney Weaver,James Cameron
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action,Johnny Depp Orlando Bloom Keira Knightley,Gore Verbinski
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,en,Spectre,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",A cryptic message from Bondâ€™s past sends him o...,Action Adventure Crime,Daniel Craig Christoph Waltz LÃ©a Seydoux,Sam Mendes
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,en,The Dark Knight Rises,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",Following the death of District Attorney Harve...,Action Crime Drama Thriller,Christian Bale Michael Caine Gary Oldman,Christopher Nolan
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,en,John Carter,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","John Carter is a war-weary, former military ca...",Action Adventure Science Fiction,Taylor Kitsch Lynn Collins Samantha Morton,Andrew Stanton

In [23]:
df.isnull().sum()            # no empty values

genres                  0
id                      0
original_language       0
title                   0
production_companies    0
overview                3
genre_list              0
cast_list               0
crew_list               0
dtype: int64

### Now for companies.
#### Companies are selected because of following reason.
1) Mostly same production company will work for future movies and directors

In [24]:
comp_list=[]           # comp list
for st in movies['production_companies']:
  fst=json.loads(str(st))
  x=""
  for i in fst:
    if i['name']:
      x=x+"".join(i['name'].split(' '))+" "
  comp_list.append([x])

In [25]:
comp_list[:20]

[['IngeniousFilmPartners TwentiethCenturyFoxFilmCorporation DuneEntertainment LightstormEntertainment '],
 ['WaltDisneyPictures JerryBruckheimerFilms SecondMateProductions '],
 ['ColumbiaPictures Danjaq B24 '],
 ['LegendaryPictures WarnerBros. DCEntertainment Syncopy '],
 ['WaltDisneyPictures '],
 ['ColumbiaPictures LauraZiskinProductions MarvelEnterprises '],
 ['WaltDisneyPictures WaltDisneyAnimationStudios '],
 ['MarvelStudios PrimeFocus RevolutionSunStudios '],
 ['WarnerBros. HeydayFilms '],
 ['DCComics AtlasEntertainment WarnerBros. DCEntertainment Cruel&UnusualFilms RatPac-DuneEntertainment '],
 ['DCComics LegendaryPictures WarnerBros. BadHatHarryProductions '],
 ['EonProductions '],
 ['WaltDisneyPictures JerryBruckheimerFilms SecondMateProductions '],
 ['WaltDisneyPictures JerryBruckheimerFilms InfinitumNihil SilverBulletProductions(II) BlindWinkProductions ClassicMedia '],
 ['LegendaryPictures WarnerBros. DCEntertainment Syncopy CruelandUnusualFilms '],
 ['WaltDisney WaldenMedia StillkingFilms OzumiFilms Propeler SilverbellFilms RevolutionSunStudios '],
 ['ParamountPictures MarvelStudios '],
 ['WaltDisneyPictures JerryBruckheimerFilms MovingPictureCompany(MPC) '],
 ['AmblinEntertainment MediaMagikEntertainment ImagenationAbuDhabiFZ HemisphereMediaCapital Parkes/MacDonaldProductions '],
 ['WingNutFilms NewLineCinema WarnerBros.Pictures 3Foot7 Metro-Goldwyn-Mayer(MGM) ']]

In [26]:
df['comp_list'] =pd.DataFrame(comp_list,columns=['comp_list'])

In [27]:
df.head()

,genres,id,original_language,title,production_companies,overview,genre_list,cast_list,crew_list,comp_list
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction,Sam Worthington Zoe Saldana Sigourney Weaver,James Cameron,IngeniousFilmPartners TwentiethCenturyFoxFilmC...
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action,Johnny Depp Orlando Bloom Keira Knightley,Gore Verbinski,WaltDisneyPictures JerryBruckheimerFilms Secon...
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,en,Spectre,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",A cryptic message from Bondâ€™s past sends him o...,Action Adventure Crime,Daniel Craig Christoph Waltz LÃ©a Seydoux,Sam Mendes,ColumbiaPictures Danjaq B24
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,en,The Dark Knight Rises,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",Following the death of District Attorney Harve...,Action Crime Drama Thriller,Christian Bale Michael Caine Gary Oldman,Christopher Nolan,LegendaryPictures WarnerBros. DCEntertainment ...
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,en,John Carter,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","John Carter is a war-weary, former military ca...",Action Adventure Science Fiction,Taylor Kitsch Lynn Collins Samantha Morton,Andrew Stanton,WaltDisneyPictures

#### dropping JSON data

In [28]:
df.drop(['genres','production_companies'],inplace=True,axis=1)

In [29]:
df.head()

,id,original_language,title,overview,genre_list,cast_list,crew_list,comp_list
0,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction,Sam Worthington Zoe Saldana Sigourney Weaver,James Cameron,IngeniousFilmPartners TwentiethCenturyFoxFilmC...
1,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action,Johnny Depp Orlando Bloom Keira Knightley,Gore Verbinski,WaltDisneyPictures JerryBruckheimerFilms Secon...
2,206647,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,Action Adventure Crime,Daniel Craig Christoph Waltz LÃ©a Seydoux,Sam Mendes,ColumbiaPictures Danjaq B24
3,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,Action Crime Drama Thriller,Christian Bale Michael Caine Gary Oldman,Christopher Nolan,LegendaryPictures WarnerBros. DCEntertainment ...
4,49529,en,John Carter,"John Carter is a war-weary, former military ca...",Action Adventure Science Fiction,Taylor Kitsch Lynn Collins Samantha Morton,Andrew Stanton,WaltDisneyPictures

In [30]:
df.columns

Index(['id', 'original_language', 'title', 'overview', 'genre_list',
       'cast_list', 'crew_list', 'comp_list'],
      dtype='object')

In [31]:
df_comb =df.copy()

In [32]:
df_comb

,id,original_language,title,overview,genre_list,cast_list,crew_list,comp_list
0,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction,Sam Worthington Zoe Saldana Sigourney Weaver,James Cameron,IngeniousFilmPartners TwentiethCenturyFoxFilmC...
1,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action,Johnny Depp Orlando Bloom Keira Knightley,Gore Verbinski,WaltDisneyPictures JerryBruckheimerFilms Secon...
2,206647,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,Action Adventure Crime,Daniel Craig Christoph Waltz LÃ©a Seydoux,Sam Mendes,ColumbiaPictures Danjaq B24
3,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,Action Crime Drama Thriller,Christian Bale Michael Caine Gary Oldman,Christopher Nolan,LegendaryPictures WarnerBros. DCEntertainment ...
4,49529,en,John Carter,"John Carter is a war-weary, former military ca...",Action Adventure Science Fiction,Taylor Kitsch Lynn Collins Samantha Morton,Andrew Stanton,WaltDisneyPictures
...,...,...,...,...,...,...,...,...
4798,9367,es,El Mariachi,El Mariachi just wants to play his guitar and ...,Action Crime Thriller,Carlos Gallardo Jaime de Hoyos Peter Marquardt,Robert Rodriguez,ColumbiaPictures
4799,72766,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,Comedy Romance,Edward Burns Kerry BishÃ© Marsha Dietlein,Edward Burns,
4800,231617,en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",Comedy Drama Romance TV Movie,Eric Mabius Kristin Booth Crystal Lowe,Scott Smith,FrontStreetPictures MuseEntertainmentEnterprises
4801,126186,en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,nan,Daniel Henney Eliza Coupe Bill Paxton,Daniel Hsia,
4802,25975,en,My Date with Drew,Ever since the second grade when he first saw ...,Documentary,Drew Barrymore Brian Herzlinger Corey Feldman,Brian Herzlinger,rustybearentertainment luckycrowfilms

### Combining columns to use a single string. It will help to produce vector easily further for similarity

In [33]:
df_comb['comb'] =df_comb['genre_list']+df_comb['cast_list']+df_comb['crew_list']+df_comb['original_language']

## We will use bag of words for converting words to vectors and the applying cosine similarity

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [35]:
cv=CountVectorizer()
count_matrix = cv.fit_transform(df_comb['comb'])

In [36]:
similarity =cosine_similarity(count_matrix)

## Finally Let's built a function for recommending movies using similarity

In [37]:
def recommend(movie):
  i=df_comb.loc[df_comb['title']==movie].index[0]
  List =list(enumerate(similarity[i]))
  List_sorted =sorted(List,reverse=True,key=lambda x:x[1])
  Final_list=List_sorted[1:15]        # 1:15 because 0 will be the movie itself because of 1 correlation.
  recommend_list =[]
  for i in range(len(Final_list)):
    a=Final_list[i][0]
    recommend_list.append(df_comb['title'][a])

  return recommend_list

#### Let's  see for skyfall

In [38]:
my_movies = recommend("Skyfall")
for m in my_movies:
  print(m)

Spectre
Casino Royale
Quantum of Solace
Munich
Jurassic Park III
Action Jackson
Safe House
Road House
Spider-Man 3
The Golden Compass
Spider-Man 2
Terminator Salvation
Mission: Impossible - Rogue Nation
Mission: Impossible III

### It works!!!!! 
### Now Let's check for Pirates of the Caribbean: At World's End

In [39]:
my_movies = recommend("Pirates of the Caribbean: At World's End")
for m in my_movies:
  print(m)

Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: The Curse of the Black Pearl
The Lone Ranger
Pirates of the Caribbean: On Stranger Tides
Rango
Alice in Wonderland
The Three Musketeers
The Imaginarium of Doctor Parnassus
Charlie and the Chocolate Factory
Kingdom of Heaven
Alice Through the Looking Glass
Once Upon a Time in Mexico
Mortdecai
Domino

In [40]:
df_comb.to_csv('Dataset/movie_data_before_2017.csv',index=False)