In [1]:
import pandas as pd

df17= pd.read_csv('2017m1.csv')
df18 =pd.read_csv('2018m1.csv')
df19 =pd.read_csv('2019m1.csv')

In [2]:
df17.drop('Unnamed: 0',axis=1,inplace =True)
df18.drop('Unnamed: 0',axis=1,inplace =True)
df19.drop('Unnamed: 0',axis=1,inplace =True)

In [3]:
df17.head()

,title,genre,overview,cast,director,lang,comp
0,Kingsman: The Golden Circle,"Action, Adventure, Comedy",After the Kingsman's headquarters are destroye...,Taron Egerton Colin Firth Mark Strong Channing...,Matthew Vaughn,en,unknown
1,Blade Runner 2049,"Action, Drama, Mystery",Young Blade Runner K's discovery of a long-bur...,Harrison Ford Ryan Gosling Ana de Armas Dave B...,Denis Villeneuve,en,unknown
2,Dunkirk,"Action, Drama, History","Allied soldiers from Belgium, the British Empi...",Fionn Whitehead Barry Keoghan Mark Rylance Tom...,Christopher Nolan,en,unknown
3,Thor: Ragnarok,"Action, Adventure, Comedy","Imprisoned on the planet Sakaar, Thor must rac...",Chris Hemsworth Tom Hiddleston Cate Blanchett ...,Taika Waititi,en,unknown
4,It,Horror,"In the summer of 1989, a group of bullied kids...",Bill Skarsgård Jaeden Martell Finn Wolfhard So...,Andy Muschietti,en,unknown

In [4]:
df18.head()

,title,genre,overview,cast,director,lang,comp
0,Black Panther,"Action, Adventure, Sci-Fi","T'Challa, heir to the hidden but advanced king...",Chadwick Boseman Michael B. Jordan Lupita Nyon...,Ryan Coogler,en,unknown
1,Deadpool 2,"Action, Adventure, Comedy",Foul-mouthed mutant mercenary Wade Wilson (a.k...,Ryan Reynolds Josh Brolin Morena Baccarin Juli...,David Leitch,en,unknown
2,Avengers: Infinity War,"Action, Adventure, Sci-Fi",The Avengers and their allies must be willing ...,Joe Russo Robert Downey Jr. Chris Hemsworth Ma...,Anthony Russo,en,unknown
3,Hereditary,"Drama, Horror, Mystery",A grieving family is haunted by tragic and dis...,Toni Collette Milly Shapiro Gabriel Byrne Alex...,Ari Aster,en,unknown
4,A Star Is Born,"Drama, Music, Romance",A musician helps a young singer find fame as a...,Lady Gaga Bradley Cooper Sam Elliott Greg Grun...,Bradley Cooper,en,unknown

In [5]:
df19.head()

,title,genre,overview,cast,director,lang,comp
0,Knives Out,"Comedy, Crime, Drama",A detective investigates the death of a patria...,Daniel Craig Chris Evans Ana de Armas Jamie Le...,Rian Johnson,en,unknown
1,Joker,"Crime, Drama, Thriller","In Gotham City, mentally troubled comedian Art...",Joaquin Phoenix Robert De Niro Zazie Beetz Fra...,Todd Phillips,en,unknown
2,Avengers: Endgame,"Action, Adventure, Drama",After the devastating events of Avengers: Infi...,Joe Russo Robert Downey Jr. Chris Evans Mark R...,Anthony Russo,en,unknown
3,Ford v Ferrari,"Action, Biography, Drama",American car designer Carroll Shelby and drive...,Matt Damon Christian Bale Jon Bernthal Caitrio...,James Mangold,en,unknown
4,Once Upon a Time... in Hollywood,"Comedy, Drama",A faded television actor and his stunt double ...,Leonardo DiCaprio Brad Pitt Margot Robbie Emil...,Quentin Tarantino,en,unknown

In [6]:
df=df17.append(df18)

In [7]:
df =df.append(df19)

In [8]:
df.head()

,title,genre,overview,cast,director,lang,comp
0,Kingsman: The Golden Circle,"Action, Adventure, Comedy",After the Kingsman's headquarters are destroye...,Taron Egerton Colin Firth Mark Strong Channing...,Matthew Vaughn,en,unknown
1,Blade Runner 2049,"Action, Drama, Mystery",Young Blade Runner K's discovery of a long-bur...,Harrison Ford Ryan Gosling Ana de Armas Dave B...,Denis Villeneuve,en,unknown
2,Dunkirk,"Action, Drama, History","Allied soldiers from Belgium, the British Empi...",Fionn Whitehead Barry Keoghan Mark Rylance Tom...,Christopher Nolan,en,unknown
3,Thor: Ragnarok,"Action, Adventure, Comedy","Imprisoned on the planet Sakaar, Thor must rac...",Chris Hemsworth Tom Hiddleston Cate Blanchett ...,Taika Waititi,en,unknown
4,It,Horror,"In the summer of 1989, a group of bullied kids...",Bill Skarsgård Jaeden Martell Finn Wolfhard So...,Andy Muschietti,en,unknown

In [9]:
df.isnull().sum()

title       0
genre       0
overview    0
cast        0
director    0
lang        0
comp        0
dtype: int64

In [10]:
genre_list =[]
for x in df.genre:
    l =x.split(',')
    s=""
    for i in l:
        i = i.strip()
        if i =='Sci-Fi':
            i='Science Fiction'
        s=s+i+" "
    genre_list.append(s)

In [11]:
genre_list

['Action Adventure Comedy ',
 'Action Drama Mystery ',
 'Action Drama History ',
 'Action Adventure Comedy ',
 'Horror ',
 'Family Fantasy Musical ',
 'Action Adventure Fantasy ',
 'Horror Mystery Thriller ',
 'Action Adventure Comedy ',
 'Crime Drama Thriller ',
 'Action Adventure Science Fiction ',
 'Action Adventure Comedy ',
 'Biography Crime Drama ',
 'Action Crime Music ',
 'Action Adventure Biography ',
 'Action Adventure Fantasy ',
 'Comedy Crime Drama ',
 'Action Drama Science Fiction ',
 'Action Adventure Fantasy ',
 'Action Adventure Fantasy ',
 'Horror Science Fiction Thriller ',
 'Animation Adventure Family ',
 'Biography Crime Drama ',
 'Action Comedy Crime ',
 'Biography Crime Drama ',
 'Action Adventure Fantasy ',
 'Comedy Music ',
 'Drama Horror Mystery ',
 'Action Adventure Fantasy ',
 'Action Adventure Crime ',
 'Action Adventure Fantasy ',
 'Action Adventure Science Fiction ',
 'Action Adventure Fantasy ',
 'Horror Science Fiction Thriller ',
 'Action Crime Thriller ',
 'Biography Comedy Drama ',
 'Drama Romance ',
 'Crime Drama Mystery ',
 'Action Adventure Science Fiction ',
 'Action Adventure Drama ',
 'Biography Comedy Drama ',
 'Action Science Fiction Thriller ',
 'Horror Mystery Thriller ',
 'Action Thriller ',
 'Drama Science Fiction Thriller ',
 'Action Thriller ',
 'Action Crime Drama ',
 'Action Fantasy Thriller ',
 'Horror Mystery Thriller ',
 'Action Thriller ',
 'Crime Drama Thriller ',
 'Action Comedy Crime ',
 'Action Biography Comedy ',
 'Horror Mystery Thriller ',
 'Drama Horror Mystery ',
 'Horror Mystery ',
 'Animation Adventure Comedy ',
 'Action Adventure Drama ',
 'Animation Adventure Comedy ',
 'Drama Fantasy Romance ',
 'Animation Adventure Comedy ',
 'Action Adventure Drama ',
 'Crime Drama Mystery ',
 'Action Drama Mystery ',
 'Crime Horror Mystery ',
 'Action Biography Thriller ',
 'Action Adventure Thriller ',
 'Animation Action Comedy ',
 'Drama Science Fiction ',
 'Comedy ',
 'Animation Adventure Comedy ',
 'Action Horror Thriller ',
 'Drama Mystery Science Fiction ',
 'Drama Romance Science Fiction ',
 'Adventure Comedy Family ',
 'Comedy Drama ',
 'Action Comedy Crime ',
 'Adventure Drama Horror ',
 'Comedy Crime Thriller ',
 'Biography Drama Music ',
 'Adventure Comedy Drama ',
 'Action Comedy ',
 'Animation Adventure Comedy ',
 'Comedy ',
 'Drama Romance Science Fiction ',
 'Comedy Crime ',
 'Biography Drama ',
 'Drama Fantasy Thriller ',
 'Drama Thriller ',
 'Action Adventure Comedy ',
 'Animation Action Adventure ',
 'Comedy Drama War ',
 'Drama Horror Mystery ',
 'Comedy ',
 'Biography Drama War ',
 'Comedy Drama ',
 'Crime Drama Thriller ',
 'Drama Mystery Science Fiction ',
 'Crime Horror Mystery ',
 'Crime Drama Mystery ',
 'Action Adventure Science Fiction ',
 'Action Adventure Comedy ',
 'Action Adventure Science Fiction ',
 'Drama Horror Mystery ',
 'Drama Music Romance ',
 'Action Adventure Science Fiction ',
 'Biography Drama Music ',
 'Animation Action Adventure ',
 'Drama Horror Mystery ',
 'Action Adventure Science Fiction ',
 'Action Adventure Biography ',
 'Adventure Family Fantasy ',
 'Comedy Crime Drama ',
 'Drama Horror Science Fiction ',
 'Comedy Musical Romance ',
 'Action Adventure Science Fiction ',
 'Fantasy Horror Mystery ',
 'Action Comedy Crime ',
 'Action Adventure Science Fiction ',
 'Drama Romance Thriller ',
 'Action Adventure Fantasy ',
 'Action Adventure Drama ',
 'Action Horror Science Fiction ',
 'Biography Drama ',
 'Action Comedy Crime ',
 'Crime Drama Horror ',
 'Crime Horror Thriller ',
 'Action Adventure Comedy ',
 'Comedy Drama ',
 'Drama Mystery Thriller ',
 'Drama Horror Mystery ',
 'Comedy ',
 'Action Crime Drama ',
 'Biography Drama ',
 'Crime Drama Mystery ',
 'Comedy Drama Romance ',
 'Action Adventure Science Fiction ',
 'Comedy Drama Romance ',
 'Horror Thriller ',
 'Horror Mystery Thriller ',
 'Drama History Romance ',
 'Crime Drama ',
 'Drama Horror Thriller ',
 'Drama Romance ',
 'Drama Romance ',
 'Action Mystery Thriller ',
 'Comedy Romance ',
 'Drama Mystery Thriller ',
 'Action Adventure Drama ',
 'Biography Drama Thriller ',
 'Drama Romance ',
 'Comedy Drama ',
 'Comedy Romance ',
 'Horror Mystery Thriller ',
 'Crime Mystery Thriller ',
 'Crime Drama Thriller ',
 'Thriller ',
 'Drama Music ',
 'Action Crime Drama ',
 'Drama ',
 'Drama Mystery Thriller ',
 'Adventure Comedy Drama ',
 'Drama ',
 'Biography Crime Drama ',
 'Biography Drama ',
 'Drama Fantasy Horror ',
 'Comedy ',
 'Action Adventure Drama ',
 'Biography Crime Drama ',
 'Drama Mystery Thriller ',
 'Comedy Drama Romance ',
 'Adventure Drama Fantasy ',
 'Biography Drama Romance ',
 'Comedy Drama Romance ',
 'Action Crime Drama ',
 'Comedy Horror Thriller ',
 'Biography Crime Drama ',
 'Drama Mystery Thriller ',
 'Drama Fantasy Romance ',
 'Comedy Drama Romance ',
 'Drama Mystery Science Fiction ',
 'Romance Thriller ',
 'Fantasy Horror Science Fiction ',
 'Comedy Drama ',
 'Comedy Drama Music ',
 'Comedy Drama ',
 'Drama Romance War ',
 'Drama Music ',
 'Drama ',
 'Drama ',
 'Crime Drama Thriller ',
 'Action Comedy Horror ',
 'Drama Science Fiction ',
 'Action Crime Drama ',
 'Drama Thriller ',
 'Biography Drama ',
 'Drama Romance ',
 'Action Thriller ',
 'Drama ',
 'Comedy Drama Romance ',
 'Comedy Crime Drama ',
 'Crime Drama Thriller ',
 'Action Adventure Drama ',
 'Action Biography Drama ',
 'Comedy Drama ',
 'Comedy Drama War ',
 'Action Comedy Crime ',
 'Biography Drama ',
 'Drama Fantasy Horror ',
 'Drama War ',
 'Action Adventure Science Fiction ',
 'Comedy Horror Mystery ',
 'Action Adventure Comedy ',
 'Action Adventure Fantasy ',
 'Action Adventure Drama ',
 'Animation Adventure Drama ',
 'Action Adventure Comedy ',
 'Biography Crime Drama ',
 'Adventure Family Fantasy ',
 'Drama Fantasy Horror ',
 'Action Adventure Science Fiction ',
 'Action Adventure Science Fiction ',
 'Action Adventure Science Fiction ',
 'Animation Adventure Comedy ',
 'Adventure Drama Mystery ',
 'Horror Science Fiction Thriller ',
 'Action Thriller ',
 'Horror Mystery Thriller ',
 'Action Drama Science Fiction ',
 'Action Adventure Science Fiction ',
 'Action Adventure Thriller ',
 'Action Adventure Comedy ',
 'Animation Adventure Comedy ',
 'Action Adventure Comedy ',
 'Action Thriller ',
 'Action Crime Thriller ',
 'Crime Drama Mystery ',
 'Comedy Drama Family ',
 'Adventure Family Fantasy ',
 'Action Crime Drama ',
 'Adventure Comedy ',
 'Drama Science Fiction Thriller ',
 'Action Adventure Fantasy ',
 'Action Thriller ',
 'Action Thriller ',
 'Animation Action Adventure ',
 'Action Adventure Comedy ',
 'Comedy Drama Romance ',
 'Biography Comedy Drama ',
 'Action Crime Drama ',
 'Action Comedy Crime ',
 'Action Adventure Crime ',
 'Drama Mystery Thriller ',
 'Drama History Thriller ',
 'Action Adventure Fantasy ',
 'Adventure Comedy Drama ',
 'Action Drama Horror ',
 'Comedy Romance ',
 'Horror Mystery Thriller ',
 'Animation Comedy Family ',
 'Action Adventure Horror ',
 'Action Crime Drama ',
 'Horror Mystery Thriller ',
 'Action Adventure Comedy ',
 'Adventure Family Fantasy ',
 'Horror Science Fiction ',
 'Animation Adventure Comedy ',
 'Comedy Crime ',
 'Action Crime Drama ',
 'Horror Mystery Thriller ',
 'Horror Thriller ',
 'Comedy Horror Mystery ',
 'Biography Drama Romance ',
 'Action Adventure Drama ',
 'Action Comedy Crime ',
 'Animation Adventure Comedy ',
 'Animation Adventure Comedy ',
 'Comedy Fantasy Romance ',
 'Comedy Horror Mystery ',
 'Adventure Drama Horror ',
 'Animation Adventure Comedy ',
 'Comedy Fantasy Romance ',
 'Action Crime Drama ',
 'Comedy Romance ',
 'Adventure Drama Science Fiction ',
 'Drama Horror Mystery ',
 'Action Drama Thriller ',
 'Action Thriller ',
 'Drama Horror Mystery ',
 'Comedy Family Fantasy ',
 'Animation Adventure Comedy ',
 'Animation Action Family ']

In [12]:
df['genre_list']=pd.DataFrame(genre_list,columns=['genre_list'])

In [13]:
df['crew_list']=df['director']

In [14]:
df['cast_list'] =df['cast']

In [15]:
df['original_language']=df['lang']

In [16]:
df['comp_list']=df['comp']

In [17]:
df

,title,genre,overview,cast,director,lang,comp,genre_list,crew_list,cast_list,original_language,comp_list
0,Kingsman: The Golden Circle,"Action, Adventure, Comedy",After the Kingsman's headquarters are destroye...,Taron Egerton Colin Firth Mark Strong Channing...,Matthew Vaughn,en,unknown,Action Adventure Comedy,Matthew Vaughn,Taron Egerton Colin Firth Mark Strong Channing...,en,unknown
1,Blade Runner 2049,"Action, Drama, Mystery",Young Blade Runner K's discovery of a long-bur...,Harrison Ford Ryan Gosling Ana de Armas Dave B...,Denis Villeneuve,en,unknown,Action Drama Mystery,Denis Villeneuve,Harrison Ford Ryan Gosling Ana de Armas Dave B...,en,unknown
2,Dunkirk,"Action, Drama, History","Allied soldiers from Belgium, the British Empi...",Fionn Whitehead Barry Keoghan Mark Rylance Tom...,Christopher Nolan,en,unknown,Action Drama History,Christopher Nolan,Fionn Whitehead Barry Keoghan Mark Rylance Tom...,en,unknown
3,Thor: Ragnarok,"Action, Adventure, Comedy","Imprisoned on the planet Sakaar, Thor must rac...",Chris Hemsworth Tom Hiddleston Cate Blanchett ...,Taika Waititi,en,unknown,Action Adventure Comedy,Taika Waititi,Chris Hemsworth Tom Hiddleston Cate Blanchett ...,en,unknown
4,It,Horror,"In the summer of 1989, a group of bullied kids...",Bill Skarsgård Jaeden Martell Finn Wolfhard So...,Andy Muschietti,en,unknown,Horror,Andy Muschietti,Bill Skarsgård Jaeden Martell Finn Wolfhard So...,en,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
87,Kill Chain,"Action, Thriller",Three strangers' lives are inevitably entangle...,Nicolas Cage Anabelle Acosta Enrico Colantoni ...,Ken Sanzel,en,unknown,Drama Fantasy Thriller,Ken Sanzel,Nicolas Cage Anabelle Acosta Enrico Colantoni ...,en,unknown
88,The Hole in the Ground,"Drama, Horror, Mystery",A single mother living in the Irish countrysid...,Seána Kerslake James Quinn Markey Kati Outinen...,Lee Cronin,en,unknown,Drama Thriller,Lee Cronin,Seána Kerslake James Quinn Markey Kati Outinen...,en,unknown
89,Noelle,"Comedy, Family, Fantasy",Santa's daughter must take over the family bus...,Anna Kendrick Shirley MacLaine Bill Hader King...,Marc Lawrence,en,unknown,Action Adventure Comedy,Marc Lawrence,Anna Kendrick Shirley MacLaine Bill Hader King...,en,unknown
90,A Shaun the Sheep Movie: Farmageddon,"Animation, Adventure, Comedy",When an alien with amazing powers crash-lands ...,Richard Phelan Justin Fletcher John Sparkes Am...,Will Becher,en,unknown,Animation Action Adventure,Will Becher,Richard Phelan Justin Fletcher John Sparkes Am...,en,unknown
91,Pokémon: Mewtwo Strikes Back - Evolution,"Animation, Action, Family",After a scientific experiment leads to the cre...,Tetsuo Yajima Kunihiko Yuyama Sarah Natochenny...,Motonori Sakakibara,en,unknown,Comedy Drama War,Motonori Sakakibara,Tetsuo Yajima Kunihiko Yuyama Sarah Natochenny...,en,unknown

In [18]:
df.drop(['genre','cast','director','lang','comp'],axis=1,inplace=True)

In [19]:
df

,title,overview,genre_list,crew_list,cast_list,original_language,comp_list
0,Kingsman: The Golden Circle,After the Kingsman's headquarters are destroye...,Action Adventure Comedy,Matthew Vaughn,Taron Egerton Colin Firth Mark Strong Channing...,en,unknown
1,Blade Runner 2049,Young Blade Runner K's discovery of a long-bur...,Action Drama Mystery,Denis Villeneuve,Harrison Ford Ryan Gosling Ana de Armas Dave B...,en,unknown
2,Dunkirk,"Allied soldiers from Belgium, the British Empi...",Action Drama History,Christopher Nolan,Fionn Whitehead Barry Keoghan Mark Rylance Tom...,en,unknown
3,Thor: Ragnarok,"Imprisoned on the planet Sakaar, Thor must rac...",Action Adventure Comedy,Taika Waititi,Chris Hemsworth Tom Hiddleston Cate Blanchett ...,en,unknown
4,It,"In the summer of 1989, a group of bullied kids...",Horror,Andy Muschietti,Bill Skarsgård Jaeden Martell Finn Wolfhard So...,en,unknown
...,...,...,...,...,...,...,...
87,Kill Chain,Three strangers' lives are inevitably entangle...,Drama Fantasy Thriller,Ken Sanzel,Nicolas Cage Anabelle Acosta Enrico Colantoni ...,en,unknown
88,The Hole in the Ground,A single mother living in the Irish countrysid...,Drama Thriller,Lee Cronin,Seána Kerslake James Quinn Markey Kati Outinen...,en,unknown
89,Noelle,Santa's daughter must take over the family bus...,Action Adventure Comedy,Marc Lawrence,Anna Kendrick Shirley MacLaine Bill Hader King...,en,unknown
90,A Shaun the Sheep Movie: Farmageddon,When an alien with amazing powers crash-lands ...,Animation Action Adventure,Will Becher,Richard Phelan Justin Fletcher John Sparkes Am...,en,unknown
91,Pokémon: Mewtwo Strikes Back - Evolution,After a scientific experiment leads to the cre...,Comedy Drama War,Motonori Sakakibara,Tetsuo Yajima Kunihiko Yuyama Sarah Natochenny...,en,unknown

In [20]:
df

,title,overview,genre_list,crew_list,cast_list,original_language,comp_list
0,Kingsman: The Golden Circle,After the Kingsman's headquarters are destroye...,Action Adventure Comedy,Matthew Vaughn,Taron Egerton Colin Firth Mark Strong Channing...,en,unknown
1,Blade Runner 2049,Young Blade Runner K's discovery of a long-bur...,Action Drama Mystery,Denis Villeneuve,Harrison Ford Ryan Gosling Ana de Armas Dave B...,en,unknown
2,Dunkirk,"Allied soldiers from Belgium, the British Empi...",Action Drama History,Christopher Nolan,Fionn Whitehead Barry Keoghan Mark Rylance Tom...,en,unknown
3,Thor: Ragnarok,"Imprisoned on the planet Sakaar, Thor must rac...",Action Adventure Comedy,Taika Waititi,Chris Hemsworth Tom Hiddleston Cate Blanchett ...,en,unknown
4,It,"In the summer of 1989, a group of bullied kids...",Horror,Andy Muschietti,Bill Skarsgård Jaeden Martell Finn Wolfhard So...,en,unknown
...,...,...,...,...,...,...,...
87,Kill Chain,Three strangers' lives are inevitably entangle...,Drama Fantasy Thriller,Ken Sanzel,Nicolas Cage Anabelle Acosta Enrico Colantoni ...,en,unknown
88,The Hole in the Ground,A single mother living in the Irish countrysid...,Drama Thriller,Lee Cronin,Seána Kerslake James Quinn Markey Kati Outinen...,en,unknown
89,Noelle,Santa's daughter must take over the family bus...,Action Adventure Comedy,Marc Lawrence,Anna Kendrick Shirley MacLaine Bill Hader King...,en,unknown
90,A Shaun the Sheep Movie: Farmageddon,When an alien with amazing powers crash-lands ...,Animation Action Adventure,Will Becher,Richard Phelan Justin Fletcher John Sparkes Am...,en,unknown
91,Pokémon: Mewtwo Strikes Back - Evolution,After a scientific experiment leads to the cre...,Comedy Drama War,Motonori Sakakibara,Tetsuo Yajima Kunihiko Yuyama Sarah Natochenny...,en,unknown

In [21]:
df.isnull().sum()

title                0
overview             0
genre_list           0
crew_list            0
cast_list            0
original_language    0
comp_list            0
dtype: int64

In [22]:
df['comb'] =df['genre_list']+df['cast_list']+df['crew_list']+df['original_language']

In [23]:
df.to_csv('new_data.csv',index=False)

In [24]:
maindf= pd.read_csv('first.csv')

In [25]:
maindf.isnull().sum()

original_language      0
title                  0
genre_list            28
cast_list             43
crew_list             30
comp_list            351
dtype: int64

In [27]:
maindf.columns

Index(['original_language', 'title', 'genre_list', 'cast_list', 'crew_list',
       'comp_list'],
      dtype='object')

In [28]:
df.columns

Index(['title', 'overview', 'genre_list', 'crew_list', 'cast_list',
       'original_language', 'comp_list', 'comb'],
      dtype='object')

In [29]:
df['comb'] =df['genre_list']+df['cast_list']+df['crew_list']+df['original_language']

In [30]:
df.columns

Index(['title', 'overview', 'genre_list', 'crew_list', 'cast_list',
       'original_language', 'comp_list', 'comb'],
      dtype='object')

In [31]:
maindf.columns

Index(['original_language', 'title', 'genre_list', 'cast_list', 'crew_list',
       'comp_list'],
      dtype='object')

In [32]:
finaldf =maindf.append(df)

In [33]:
finaldf

,original_language,title,genre_list,cast_list,crew_list,comp_list,overview,comb
0,en,Avatar,Action Adventure Fantasy Science Fiction,Sam Worthington Zoe Saldana Sigourney Weaver,James Cameron,IngeniousFilmPartners TwentiethCenturyFoxFilmC...,NaN,NaN
1,en,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,Johnny Depp Orlando Bloom Keira Knightley,Gore Verbinski,WaltDisneyPictures JerryBruckheimerFilms Secon...,NaN,NaN
2,en,Spectre,Action Adventure Crime,Daniel Craig Christoph Waltz Léa Seydoux,Sam Mendes,ColumbiaPictures Danjaq B24,NaN,NaN
3,en,The Dark Knight Rises,Action Crime Drama Thriller,Christian Bale Michael Caine Gary Oldman,Christopher Nolan,LegendaryPictures WarnerBros. DCEntertainment ...,NaN,NaN
4,en,John Carter,Action Adventure Science Fiction,Taylor Kitsch Lynn Collins Samantha Morton,Andrew Stanton,WaltDisneyPictures,NaN,NaN
...,...,...,...,...,...,...,...,...
87,en,Kill Chain,Drama Fantasy Thriller,Nicolas Cage Anabelle Acosta Enrico Colantoni ...,Ken Sanzel,unknown,Three strangers' lives are inevitably entangle...,Drama Fantasy Thriller Nicolas Cage Anabelle A...
88,en,The Hole in the Ground,Drama Thriller,Seána Kerslake James Quinn Markey Kati Outinen...,Lee Cronin,unknown,A single mother living in the Irish countrysid...,Drama Thriller Seána Kerslake James Quinn Mark...
89,en,Noelle,Action Adventure Comedy,Anna Kendrick Shirley MacLaine Bill Hader King...,Marc Lawrence,unknown,Santa's daughter must take over the family bus...,Action Adventure Comedy Anna Kendrick Shirley ...
90,en,A Shaun the Sheep Movie: Farmageddon,Animation Action Adventure,Richard Phelan Justin Fletcher John Sparkes Am...,Will Becher,unknown,When an alien with amazing powers crash-lands ...,Animation Action Adventure Richard Phelan Just...
91,en,Pokémon: Mewtwo Strikes Back - Evolution,Comedy Drama War,Tetsuo Yajima Kunihiko Yuyama Sarah Natochenny...,Motonori Sakakibara,unknown,After a scientific experiment leads to the cre...,Comedy Drama War Tetsuo Yajima Kunihiko Yuyama...

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [35]:
df['comb']

0     Action Adventure Comedy Taron Egerton Colin Fi...
1     Action Drama Mystery Harrison Ford Ryan Goslin...
2     Action Drama History Fionn Whitehead Barry Keo...
3     Action Adventure Comedy Chris Hemsworth Tom Hi...
4     Horror Bill Skarsgård Jaeden Martell Finn Wolf...
                            ...
87    Drama Fantasy Thriller Nicolas Cage Anabelle A...
88    Drama Thriller Seána Kerslake James Quinn Mark...
89    Action Adventure Comedy Anna Kendrick Shirley ...
90    Animation Action Adventure Richard Phelan Just...
91    Comedy Drama War Tetsuo Yajima Kunihiko Yuyama...
Name: comb, Length: 292, dtype: object

In [36]:
cv=CountVectorizer()
count_matrix = cv.fit_transform(maindf['comb'])

KeyError: 'comb'

In [ ]:
similarity =cosine_similarity(count_matrix)

In [ ]:
def recommend(movie):
  i=maindf.loc[maindf['title']==movie].index[0]
  List =list(enumerate(similarity[i]))
  List_sorted =sorted(List,reverse=True,key=lambda x:x[1])
  Final_list=List_sorted[1:15]        
  recommend_list =[]
  for i in range(len(Final_list)):
    a=Final_list[i][0]
    recommend_list.append(maindf['title'][a])

  return recommend_list

In [ ]:
my_movies = recommend("The Avengers")
for m in my_movies:
  print(m)