# This module presents merging of movies released after 2017 till 2019

In [1]:
import pandas as pd

df17= pd.read_csv('2017m1.csv')
df18 =pd.read_csv('2018m1.csv')
df19 =pd.read_csv('2019m1.csv')

### Importing data of 2017-19 movies

In [2]:
df17.drop('Unnamed: 0',axis=1,inplace =True)
df18.drop('Unnamed: 0',axis=1,inplace =True)
df19.drop('Unnamed: 0',axis=1,inplace =True)

# 2017 movie List

In [3]:
df17.head()

,title,genre,overview,cast,director,lang,comp
0,Kingsman: The Golden Circle,"Action, Adventure, Comedy",After the Kingsman's headquarters are destroye...,Taron Egerton Colin Firth Mark Strong Channing...,Matthew Vaughn,en,unknown
1,Blade Runner 2049,"Action, Drama, Mystery",Young Blade Runner K's discovery of a long-bur...,Harrison Ford Ryan Gosling Ana de Armas Dave B...,Denis Villeneuve,en,unknown
2,Dunkirk,"Action, Drama, History","Allied soldiers from Belgium, the British Empi...",Fionn Whitehead Barry Keoghan Mark Rylance Tom...,Christopher Nolan,en,unknown
3,Thor: Ragnarok,"Action, Adventure, Comedy","Imprisoned on the planet Sakaar, Thor must rac...",Chris Hemsworth Tom Hiddleston Cate Blanchett ...,Taika Waititi,en,unknown
4,It,Horror,"In the summer of 1989, a group of bullied kids...",Bill Skarsgård Jaeden Martell Finn Wolfhard So...,Andy Muschietti,en,unknown

# 2018 movie List

In [4]:
df18.head()

,title,genre,overview,cast,director,lang,comp
0,Black Panther,"Action, Adventure, Sci-Fi","T'Challa, heir to the hidden but advanced king...",Chadwick Boseman Michael B. Jordan Lupita Nyon...,Ryan Coogler,en,unknown
1,Deadpool 2,"Action, Adventure, Comedy",Foul-mouthed mutant mercenary Wade Wilson (a.k...,Ryan Reynolds Josh Brolin Morena Baccarin Juli...,David Leitch,en,unknown
2,Avengers: Infinity War,"Action, Adventure, Sci-Fi",The Avengers and their allies must be willing ...,Joe Russo Robert Downey Jr. Chris Hemsworth Ma...,Anthony Russo,en,unknown
3,Hereditary,"Drama, Horror, Mystery",A grieving family is haunted by tragic and dis...,Toni Collette Milly Shapiro Gabriel Byrne Alex...,Ari Aster,en,unknown
4,A Star Is Born,"Drama, Music, Romance",A musician helps a young singer find fame as a...,Lady Gaga Bradley Cooper Sam Elliott Greg Grun...,Bradley Cooper,en,unknown

# 2019 movie list

In [5]:
df19.head()

,title,genre,overview,cast,director,lang,comp
0,Knives Out,"Comedy, Crime, Drama",A detective investigates the death of a patria...,Daniel Craig Chris Evans Ana de Armas Jamie Le...,Rian Johnson,en,unknown
1,Joker,"Crime, Drama, Thriller","In Gotham City, mentally troubled comedian Art...",Joaquin Phoenix Robert De Niro Zazie Beetz Fra...,Todd Phillips,en,unknown
2,Avengers: Endgame,"Action, Adventure, Drama",After the devastating events of Avengers: Infi...,Joe Russo Robert Downey Jr. Chris Evans Mark R...,Anthony Russo,en,unknown
3,Ford v Ferrari,"Action, Biography, Drama",American car designer Carroll Shelby and drive...,Matt Damon Christian Bale Jon Bernthal Caitrio...,James Mangold,en,unknown
4,Once Upon a Time... in Hollywood,"Comedy, Drama",A faded television actor and his stunt double ...,Leonardo DiCaprio Brad Pitt Margot Robbie Emil...,Quentin Tarantino,en,unknown

# Appending all the movies into a single data frame for further process

In [6]:
df=df17.append(df18)

In [7]:
df =df.append(df19)

In [8]:
df.head()

,title,genre,overview,cast,director,lang,comp
0,Kingsman: The Golden Circle,"Action, Adventure, Comedy",After the Kingsman's headquarters are destroye...,Taron Egerton Colin Firth Mark Strong Channing...,Matthew Vaughn,en,unknown
1,Blade Runner 2049,"Action, Drama, Mystery",Young Blade Runner K's discovery of a long-bur...,Harrison Ford Ryan Gosling Ana de Armas Dave B...,Denis Villeneuve,en,unknown
2,Dunkirk,"Action, Drama, History","Allied soldiers from Belgium, the British Empi...",Fionn Whitehead Barry Keoghan Mark Rylance Tom...,Christopher Nolan,en,unknown
3,Thor: Ragnarok,"Action, Adventure, Comedy","Imprisoned on the planet Sakaar, Thor must rac...",Chris Hemsworth Tom Hiddleston Cate Blanchett ...,Taika Waititi,en,unknown
4,It,Horror,"In the summer of 1989, a group of bullied kids...",Bill Skarsgård Jaeden Martell Finn Wolfhard So...,Andy Muschietti,en,unknown

## Preprocessing and cleaning of new data.
### 1. changing values to match the format used with the movies before 2017
### 2. Checking for null values and correcting some errors/noices from the scraped data.

In [9]:
df.isnull().sum()

title       0
genre       0
overview    0
cast        0
director    0
lang        0
comp        0
dtype: int64

In [10]:
genre_list =[]
for x in df.genre:
    l =x.split(',')
    s=""
    for i in l:
        i = i.strip()
        if i =='Sci-Fi':
            i='Science Fiction'
        s=s+i+" "
    genre_list.append(s)

In [11]:
genre_list[:5]

['Action Adventure Comedy ',
 'Action Drama Mystery ',
 'Action Drama History ',
 'Action Adventure Comedy ',
 'Horror ']

In [12]:
df['genre_list']=pd.DataFrame(genre_list,columns=['genre_list'])

In [13]:
df['crew_list']=df['director']
df['cast_list'] = df['cast']
df['original_language'] = df['lang']
df['comp_list'] = df['comp']

In [14]:
df.head()

,title,genre,overview,cast,director,lang,comp,genre_list,crew_list,cast_list,original_language,comp_list
0,Kingsman: The Golden Circle,"Action, Adventure, Comedy",After the Kingsman's headquarters are destroye...,Taron Egerton Colin Firth Mark Strong Channing...,Matthew Vaughn,en,unknown,Action Adventure Comedy,Matthew Vaughn,Taron Egerton Colin Firth Mark Strong Channing...,en,unknown
1,Blade Runner 2049,"Action, Drama, Mystery",Young Blade Runner K's discovery of a long-bur...,Harrison Ford Ryan Gosling Ana de Armas Dave B...,Denis Villeneuve,en,unknown,Action Drama Mystery,Denis Villeneuve,Harrison Ford Ryan Gosling Ana de Armas Dave B...,en,unknown
2,Dunkirk,"Action, Drama, History","Allied soldiers from Belgium, the British Empi...",Fionn Whitehead Barry Keoghan Mark Rylance Tom...,Christopher Nolan,en,unknown,Action Drama History,Christopher Nolan,Fionn Whitehead Barry Keoghan Mark Rylance Tom...,en,unknown
3,Thor: Ragnarok,"Action, Adventure, Comedy","Imprisoned on the planet Sakaar, Thor must rac...",Chris Hemsworth Tom Hiddleston Cate Blanchett ...,Taika Waititi,en,unknown,Action Adventure Comedy,Taika Waititi,Chris Hemsworth Tom Hiddleston Cate Blanchett ...,en,unknown
4,It,Horror,"In the summer of 1989, a group of bullied kids...",Bill Skarsgård Jaeden Martell Finn Wolfhard So...,Andy Muschietti,en,unknown,Horror,Andy Muschietti,Bill Skarsgård Jaeden Martell Finn Wolfhard So...,en,unknown

## Dropping irrelevant columns

In [15]:
df.drop(['genre','cast','director','lang','comp'],axis=1,inplace=True)

In [16]:
df.columns

Index(['title', 'overview', 'genre_list', 'crew_list', 'cast_list',
       'original_language', 'comp_list'],
      dtype='object')

In [17]:
df.head()

,title,overview,genre_list,crew_list,cast_list,original_language,comp_list
0,Kingsman: The Golden Circle,After the Kingsman's headquarters are destroye...,Action Adventure Comedy,Matthew Vaughn,Taron Egerton Colin Firth Mark Strong Channing...,en,unknown
1,Blade Runner 2049,Young Blade Runner K's discovery of a long-bur...,Action Drama Mystery,Denis Villeneuve,Harrison Ford Ryan Gosling Ana de Armas Dave B...,en,unknown
2,Dunkirk,"Allied soldiers from Belgium, the British Empi...",Action Drama History,Christopher Nolan,Fionn Whitehead Barry Keoghan Mark Rylance Tom...,en,unknown
3,Thor: Ragnarok,"Imprisoned on the planet Sakaar, Thor must rac...",Action Adventure Comedy,Taika Waititi,Chris Hemsworth Tom Hiddleston Cate Blanchett ...,en,unknown
4,It,"In the summer of 1989, a group of bullied kids...",Horror,Andy Muschietti,Bill Skarsgård Jaeden Martell Finn Wolfhard So...,en,unknown

In [18]:
df.isnull().sum()

title                0
overview             0
genre_list           0
crew_list            0
cast_list            0
original_language    0
comp_list            0
dtype: int64

In [19]:
df['comb'] =df['genre_list']+df['cast_list']+df['crew_list']+df['original_language']

In [20]:
df.columns

Index(['title', 'overview', 'genre_list', 'crew_list', 'cast_list',
       'original_language', 'comp_list', 'comb'],
      dtype='object')

In [21]:
df.to_csv('after_2017_till_2019.csv',index=False)

# Reading old file

In [22]:
maindf= pd.read_csv('movie_data_before_2017.csv')

In [23]:
maindf.columns

Index(['id', 'original_language', 'title', 'overview', 'genre_list',
       'cast_list', 'crew_list', 'comp_list', 'comb'],
      dtype='object')

In [24]:
df.columns

Index(['title', 'overview', 'genre_list', 'crew_list', 'cast_list',
       'original_language', 'comp_list', 'comb'],
      dtype='object')

## Final Merge

In [25]:
finaldf =maindf.append(df)

In [26]:
finaldf.columns

Index(['id', 'original_language', 'title', 'overview', 'genre_list',
       'cast_list', 'crew_list', 'comp_list', 'comb'],
      dtype='object')

In [27]:
finaldf.head()

,id,original_language,title,overview,genre_list,cast_list,crew_list,comp_list,comb
0,19995.0,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy Science Fiction,Sam Worthington Zoe Saldana Sigourney Weaver,James Cameron,IngeniousFilmPartners TwentiethCenturyFoxFilmC...,Action Adventure Fantasy Science Fiction Sam W...
1,285.0,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action,Johnny Depp Orlando Bloom Keira Knightley,Gore Verbinski,WaltDisneyPictures JerryBruckheimerFilms Secon...,Adventure Fantasy Action Johnny Depp Orlando B...
2,206647.0,en,Spectre,A cryptic message from Bond’s past sends him o...,Action Adventure Crime,Daniel Craig Christoph Waltz Léa Seydoux,Sam Mendes,ColumbiaPictures Danjaq B24,Action Adventure Crime Daniel Craig Christoph ...
3,49026.0,en,The Dark Knight Rises,Following the death of District Attorney Harve...,Action Crime Drama Thriller,Christian Bale Michael Caine Gary Oldman,Christopher Nolan,LegendaryPictures WarnerBros. DCEntertainment ...,Action Crime Drama Thriller Christian Bale Mic...
4,49529.0,en,John Carter,"John Carter is a war-weary, former military ca...",Action Adventure Science Fiction,Taylor Kitsch Lynn Collins Samantha Morton,Andrew Stanton,WaltDisneyPictures,Action Adventure Science Fiction Taylor Kitsch...

### Saving the entire data to csv

In [28]:
finaldf.to_csv('till_2019.csv',index=False)